<footer class="footer">
    {{ partial "svgs/mini-bouquet.svg" . }}
    <p>
        Made by
    <a href="https://github.com/cclint" target="_blank" rel="nofollow noreferrer noopener">Clint Campbell</a>
        :)

        Bonus: Our wedding songs!
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0yhuknzAo94LCXku6FFihZ?utm_source=generator" width="100%" height="200" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </p>
</footer>